
:root {
	xxbackground-color: #000;
	xxcolor: #eee;

	/*
		experiment - below is currently the default theme
	*/


    --mdc-theme-primary: #6200ee;
    --mdc-theme-secondary: #018786;
    --mdc-theme-background: #000;
    --mdc-theme-surface: #fff;
    --mdc-theme-error: #b00020;
    --mdc-theme-on-primary: #fff;
    --mdc-theme-on-secondary: #fff;
    --mdc-theme-on-surface: #000;
    --mdc-theme-on-error: #fff;
    --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
    --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
    --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
    --mdc-theme-text-primary-on-dark: white;
    --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
    --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
    --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
		--mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);

		
		xxxmdc-theme-primary-light: #9162e4;
		xxxmdc-theme-primary: #5e35b1;
		xxxmdc-theme-primary-dark: #280680;
		xxxmdc-theme-secondary: #ff5722;
		xxxmdc-theme-secondary-light: #ff8a50;
		xxxmdc-theme-secondary-dark: #c41c00;
		xxxmdc-theme-background: #ffffff;
		xxxmdc-theme-text-primary-on-primary: #ffffff;
		xxxmdc-theme-text-secondary-on-secondary: #000000;


}
