body {
	font-family: Arial, Helvetica, sans-serif;
}
.hide {
	display: none;
}
.show {
	display: inline-block;
}
.draggable {
	cursor: pointer;
}
.dragging-effect {
	background-color: lightblue;
}
.section-hover {
	background-color: #f7eff0;
}
.side-picker--teams, .side-picker--bench {
	display: flex;
	flex-direction: row; 
	justify-content: flex-start; 
	align-items: flex-start;
	width: 50%;
}
.side-picker--bench {
	align-items: center;
}
.side-picker--teams section, .side-picker--bench section {
	width: 50%;
	border: solid 1px #eee;
	/* maintain same height even when section is empty */
	min-height: 100px;
}
.side-picker--teams section header, .side-picker--bench section header {
	text-align: center;
}
ol.side-picker--players li {
	list-style-type: none;
	display: inline-block;
	xxmax-width: 30%;
	height: 50px;
	border: solid 1px #eee;
}

x_section.colours ol.side-picker--players li {
	background: #00b09b;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
x_section.bench ol.side-picker--players li {
	background: #6D6027;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #D3CBB8, #6D6027);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #D3CBB8, #6D6027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.team-picker-button {
	cursor: pointer;
}

/*watermark*/
__section.team header {
	position: relative;
	top: 40%; left: 40%;
	opacity: 0.5;
	font-size: 2em;
	z-index: -1;
}

