

body {
  background-color: black;
	color: white;
	overflow-x: hidden;
	overflow-y: hidden;	
}

.slides {
	/*invisble test*/
	xxborder: solid 2px white;
	opacity: 0.15;
}	


.slideshow {
  font-family: Impact;
  text-transform: uppercase;
	margin: 0; padding: 0;
}
.flex__row {
	display: flex;
	align-items: center;
}
.flex__col {
	flex: 50%;
}

.slide {
	/* 
		Force each slide into the center middle.
		As we can't animation "display:none" we have to use visibility, which means the div still takes up 
		space on the page.  Basically each slide appears in the wrong place, unless we force each slide to the middle.
	*/
	xxposition: absolute;
	xxborder: solid 10px silver;
}

.intro-slide {
	width: 100%;
}

.intro-slide h1 { 
	font-size: 7em; 
	text-align: center;
	/* set width so length of heading is predicable for centering in the screen */
	width: 100%;
  letter-spacing: 0.4em;
}

.intro-slide .slide {
	position: fixed;
	top: 20%;
	left: 0;
	width: 100%;
	text-align: center;
	visibility: hidden;
}

@media all and (min-width: 839px) {
	
	.intro-slide .slide {
		top: 30%;
		width: 80%;
		left: 12%;
	}
	
	/* For smaller devices show slides coming down the page */
	.flex__row {
		display: block;
		align-items: initial;
		margin-top: 20%;
	}
	.flex__col {
		flex: initial;
	}	
	
}


.slide1 { animation: zoomin__leave 3s; animation-delay: 0s; animation-fill-mode: backwards; visibility: hidden; }
.slide2 { animation: zoomin__leave 3s; animation-delay: 3s; animation-fill-mode: backwards; visibility: hidden; }
.slide3 { animation: zoomin__leave 3s; animation-delay: 6s; animation-fill-mode: backwards; visibility: hidden; }
.slide4 { animation: zoomin__leave 3s; animation-delay: 9s; animation-fill-mode: backwards; visibility: hidden; }


@keyframes zoomin__leave {
	0% {
		-webkit-transform: scale(100); 
		visibility: hidden;
	}
	50% {
		visibility: visible;
		-webkit-transform: scale(1);
	}
}



.stats-slide h1 { 
	font-size: 2em;
	text-align: center; 
  letter-spacing: 0.25em;
}

.stats-slide img {
	display: inherit;
	margin: auto;
}

.slide5 { animation: zoomin__remain 3s; animation-delay: 12s; animation-fill-mode: forwards; visibility: hidden; }
.slide6 { animation: zoomin__remain 3s; animation-delay: 15s; animation-fill-mode: forwards; visibility: hidden; }
.slide7 { animation: zoomin__remain 3s; animation-delay: 18s; animation-fill-mode: forwards; visibility: hidden; }
.slide8 { animation: zoomin__remain 3s; animation-delay: 21s; animation-fill-mode: forwards; visibility: hidden; }

@keyframes zoomin__remain {
	0% {
		-webkit-transform: scale(500); 
		visibility: hidden;
		opacity: 0.5;
	}
	100% { 
		visibility: visible;
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

