

body {
  background-color: black;
	color: white;
	overflow-x: hidden;
	overflow-y: hidden;	
	/*invisble test*/
	opacity: 0.3;
}

.close-presentation {
	display: none;
}
.close-presentation-button {
	position: fixed;
  right: 1em;
  top: 1em;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 100%;
  background-color: #000;
  font-size: x-large;
  font-weight: bold;
  font-family: arial;
	padding: 0 0.25em 0 0.25em;
	cursor: pointer;
	z-index: 10100;
}


.slideshow {
  font-family: Impact;
  text-transform: uppercase;
	margin: 0; padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #222;
}
.flex__row {
	display: flex;
	align-items: center;
}
.flex__col {
	flex: 50%;
}

.intro-slide {
	width: 100%;
}

.intro-slide h1 { 
	font-size: 10em; 
	text-align: center;
	/* set width so length of heading is predicable for centering in the screen */
	width: 100%;
}

.intro-slide .slide {
	position: fixed;
	left: 0;
	width: 100%;
	text-align: center;
	visibility: hidden;
}



.slide1 { animation: zoomin__leave 3s; animation-delay: 0s; animation-fill-mode: backwards; visibility: hidden; }
.slide2 { animation: zoomin__leave 3s; animation-delay: 3s; animation-fill-mode: backwards; visibility: hidden; }
.slide3 { animation: zoomin__leave 3s; animation-delay: 6s; animation-fill-mode: backwards; visibility: hidden; }

@keyframes zoomin__leave {
	0% {
		-webkit-transform: scale(100); 
		visibility: hidden;
	}
	50% {
		visibility: visible;
		-webkit-transform: scale(1);
	}
}


.stats-slide h1 { 
	font-size: 2em;
	text-align: center; 
	margin: 0;
	padding: 0;
}

.stats-slide h1.top, .stats-slide h1.bot {
	position: relative;
} 

.stats-slide h1.top, .stats-slide h1.bot {
	/* make heading nice */
	background-color: #F45D4C;
	font-weight: normal;
	display: inline-block;
	text-align: center;
}


.stats-slide img {
	display: inherit;
	margin: auto;
}

.slide5 { animation: zoomin__remain 1s; animation-delay: 10s; animation-fill-mode: forwards; visibility: hidden; }
.slide6 { animation: zoomin__remain 1s; animation-delay: 13s; animation-fill-mode: forwards; visibility: hidden; }
.slide7 { animation: zoomin__remain 1s; animation-delay: 16s; animation-fill-mode: forwards; visibility: hidden; }
.slide8 { animation: zoomin__remain 1s; animation-delay: 19s; animation-fill-mode: forwards; visibility: hidden; }

@keyframes zoomin__remain {
	0% {
		-webkit-transform: scale(500); 
		visibility: hidden;
		opacity: 0.5;
	}
	100% { 
		visibility: visible;
		-webkit-transform: scale(1);
		opacity: 1;
	}
}


/* DESKTOP */
@media all and (min-width: 800px) {

	.stats-slide h1.top, .stats-slide h1.bot {
		width: 80%;
		left: 10%;
	}

	.stats-slide h1.top {
		/* shift heading to just over the top of the image */
		top: 0.5em;
	} 
	
}

/* MOBILE */
@media all and (min-width: 0px) and (max-width: 800px) {
	
	.intro-slide .slide, .stats-slide .slide {
		position: fixed;
		width: 100%;
		top: 25%;
	}

	.stats-slide h1.top, .stats-slide h1.bot {
		width: 100%;
	}

	.intro-slide h1 { 
		font-size: 5em; 
	}	
	.stats-slide h1 {
		font-size: 3em;
	}

	.stats-slide h1.top {
		/* shift heading to just over the top of the image */
		top: -1.5em;
	} 
	
	.stats-slide h1.bot {
		top: 1.5em;
	} 


	/* For smaller devices show slides coming down the page */
	.flex__row {
	}
	.flex__col {
		flex: initial;
	}	
	
}